body.path-user {
  overflow-x: hidden;
  background: #ffffff; }
  body.path-user .main-content .login-card-square {
    margin-left: 33%; }
  body.path-user .main-content .region-content .field--name-field-first-name,
  body.path-user .main-content .region-content .field--name-field-last-name {
    display: none; }
  body.path-user .main-content .region-content .personal-information,
  body.path-user .main-content .region-content .experience,
  body.path-user .main-content .region-content .education {
    margin-top: 15px; }
    body.path-user .main-content .region-content .personal-information .mdl-card,
    body.path-user .main-content .region-content .experience .mdl-card,
    body.path-user .main-content .region-content .education .mdl-card {
      min-height: 125px; }
    body.path-user .main-content .region-content .personal-information .views-view-grid .views-col,
    body.path-user .main-content .region-content .experience .views-view-grid .views-col,
    body.path-user .main-content .region-content .education .views-view-grid .views-col {
      width: 100% !important; }
  body.path-user .main-content .region-content .personal-information {
    width: 30%;
    float: left; }
    body.path-user .main-content .region-content .personal-information .mdl-card__title {
      background: #F44336;
      color: #FFFFFF; }
    body.path-user .main-content .region-content .personal-information .field--name-field-headline {
      font-size: 15px; }
    body.path-user .main-content .region-content .personal-information .field--name-field-location a {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.54);
      border-bottom: none; }
    body.path-user .main-content .region-content .personal-information .field--name-field-summary .field__label {
      font-size: 15px; }
  body.path-user .main-content .region-content .views-element-container {
    width: 30%;
    float: left; }
  body.path-user .main-content .region-content .experience .mdl-card__supporting-text {
    font-size: 15px; }
  body.path-user .main-content .region-content .experience .views-col {
    margin-top: 10px; }
  body.path-user .main-content .region-content .experience .mdl-card__title {
    background: #2296F3;
    color: #FFFFFF; }
  body.path-user .main-content .region-content .experience .field--name-field-job-title {
    font-weight: bold; }
  body.path-user .main-content .region-content .experience .field--name-field-company {
    float: left;
    width: 50%; }
  body.path-user .main-content .region-content .experience .field--name-field-job-start-date,
  body.path-user .main-content .region-content .experience .field--name-field-job-end-date {
    float: right; }
  body.path-user .main-content .region-content .education .mdl-card__supporting-text {
    font-size: 15px; }
  body.path-user .main-content .region-content .education .mdl-card__title {
    background: #4CAF50;
    color: #FFFFFF; }
  body.path-user .main-content .region-content .education .field--name-field-degree-field-of-study {
    font-weight: bold; }
  body.path-user .main-content .region-content .settings {
    display: none; }
  body.path-user .login-card-square > .mdl-card__title {
    color: #fff;
    background: #2196F3; }
  body.path-user .site-footer {
    display: none; }
  body.path-user .history table tr td,
  body.path-user .history table tr th {
    background: white; }
  body.path-user .history a {
    border-bottom: none; }

/*# sourceMappingURL=user.css.map */
