/*
Company
*/

body.page-node-type-company{

    #main-wrapper{
        margin-top: 50px;
    }

    #block-views-block-company-block-1{
        .views-field-title{
            margin-top: 10px;
            .field-content{
                font-size: 25px;
            }
        }
        .views-field-field-website{
            a{
                font-size: 16px;
                color: #2196F3;
            }
        }
    }

    #block-views-block-jobs-block-1{
        font-family: 'Lato', sans-serif;
        h2{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            border-bottom: none;
        }
        a{
            border-bottom: none;
        }
        .views-row{
            margin-bottom: 18px;
        }
        .view-filters{
            .form--inline{
                .form-item{
                    margin: 0;
                }
            }
            border-bottom: 1px solid #dedede;
            .form-select{
                width: 175px;
            }
            input.button{
                font-family: 'Lato', sans-serif;
                background: #2196F3;
                color: #fff;
                width: 100px;
                height: 36px;
                min-width: 64px;
                font-size: 14px;
                text-transform: uppercase;
                border: none;
                border-radius: 0;
            }
        }
        .view-content{
            margin-top: 10px;
        }
    }

    .mdl-layout__content{
        .company-benefits,
        .company-interview
        {
            display: none;
        }
        .company-card-icons{
            width: 70px;
        }
    }

    .field--name-field-banner{
        padding-left: 8px;
        padding-right: 8px;
        img{
            margin: 0;
        }
    }

    .content-card-bottom{
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        .apply-now{
            margin: 20px auto;
            display: block;
            font-family: 'Lato', sans-serif;
            background: #2196F3;
            color: #fff;
            border: none;
            position: relative;
            width: 100px;
            height: 36px;
            min-width: 64px;
            padding: 0 16px;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 36px;
        }
    }

}
