/*
Overrides
*/

// Global
.mdl-color--primary{
    background-color: #2196F3 !important;
}
.android-navigation {
    .mdl-navigation__link:hover{
        border-bottom: 4px solid #2196F3;
    }
}

.android-search-box .mdl-textfield__input{
    color: #fff;
}

// Company
body.page-node-type-company{

    .region-content ul{
        margin: 0;
        padding: 0;
    }

    .sidebar .block{
        background-color: #ffffff;
        border: none;
        padding-top: 0;
        .content{
            font-size: 15px;
        }
    }

    .mdl-layout{
        overflow-y: hidden;
        .mdl-layout__header{
            background-color: #2e2e2e;
        }
    }

    .mdl-layout__header-row{
        padding: 0 40px 0 40px;
    }

    .mdl-textonly section.section--center {
        max-width: 100%;
    }

    .mdl-textonly main > .mdl-layout__tab-panel {
        padding-top: 0;
    }

    .mdl-textonly section .section__text {
        padding-top: 0;
    }

    .mdl-textonly.mdl-textonly {
        .mdl-card__supporting-text{
            h4{
                font-family: 'Lato', sans-serif;
            }
        }
    }

    @media all and (min-width: 560px) {
      .node .field--type-image {
        margin: 0;
      }
    }

}

// Jobs
body.page-node-type-jobs{

    .sidebar .block{
        background-color: #ffffff;
        border: none;
        padding-top: 0;
        .content{
            font-size: 15px;
        }
    }

}

// Add Company
// Add Jobs
.node-form{
    .form-wrapper{
        margin-bottom: 1em;
    }
}
