body.path-user{
    overflow-x: hidden;
    background: #ffffff;
    .main-content{
        .forgot-password{
            font-size: 10px;
        }
        .login-card-square{
            margin-left: 33%;
        }
        .region-content{
            .field--name-field-first-name,
            .field--name-field-last-name{
                .field__item{
                    display: none;
                }
            }
            .personal-information,
            .experience,
            .education{
                .mdl-card{
                    min-height: 125px;
                }
                margin-top: 15px;
                .views-view-grid .views-col{
                    width: 100% !important;
                }
            }
            .personal-information{
                width: 30%;
                float: left;
                .mdl-card__title{
                    background: #F44336;
                    color: #FFFFFF;
                }
                .field--name-field-headline{
                    font-size: 15px;
                }
                .field--name-field-location{
                    a{
                        font-size: 15px;
                        color: rgba(0,0,0,.54);
                        border-bottom: none;
                    }
                }
                .field--name-field-summary{
                    .field__label{
                        font-size: 15px;
                    }
                }
            }
            .views-element-container{
                width: 30%;
                float: left;
            }
            .experience{
                .mdl-card__supporting-text{
                    font-size: 15px;
                }
                .views-col{
                    margin-top: 10px;
                }
                .mdl-card__title{
                    background: #2296F3;
                    color: #FFFFFF;
                }
                .field--name-field-job-title{
                    font-weight: bold;
                }
                .field--name-field-company{
                    float: left;
                    width: 55%;
                }
                .field--name-field-job-start-date,
                .field--name-field-job-end-date{
                    float: left;
                }
            }
            .education{
                .field--name-field-school-start-date{
                    float: left;
                }
                .field--name-field-degree-field-of-study{
                    margin-top: 10px;
                }
                .mdl-card__supporting-text{
                    font-size: 15px;
                }
                .mdl-card__title{
                    background: #4CAF50;
                    color: #FFFFFF;
                }
                .field--name-field-degree-field-of-study{
                    font-weight: bold;
                }
            }
            .settings{
                display:none;
            }
        }
    }
    .login-card-square > .mdl-card__title {
      color: #fff;
      background: #2196F3;
    }
    .site-footer{
        display: none;
    }

    // Edit Experience
    .active-experience{
        .views-view-grid{
            .views-col{
                width: 100% !important;
                margin-bottom: 20px;
                .views-field-operations{
                    width: 30%;
                    display: inline-block;
                    float: right;
                }
                .field--name-field-job-title{
                    font-size: 15px;
                }
                .field--name-field-company{
                    font-size: 13px;
                }
                .field--name-field-job-start-date{
                    float:left;
                }
            }
        }
    }

    // History
    .history{
        table {
            tr{
                td,
                th{
                    background: white;
                }

            }
        }
        a{
            border-bottom: none;
        }
    }

    // Settings
    .profile-main-edit-form{
        .field--name-field-summary{
            width:40%;
            #edit-field-summary-0-format{
                display: none;
            }
        }
    }

    // Add Experience
    .profile-experience-add-form{
        #edit-field-job-start-date-0-value-day,
        #edit-field-job-end-date-0-value-day{
            display: none;
        }
        #edit-field-job-end-date-0-value-month,
        #edit-field-job-end-date-0-value-year{
            width: 97px;
        }
    }

    // Add Education
    .profile-education-add-form{
        #edit-field-school-start-date-0-value-day,
        #edit-field-school-end-date-0-value-day{
            display: none;
        }
    }

    // Edit User Form
    #user-form{
        width: 35%;
    }

}

body.path-profile{

    // Edit Experience
    .profile-experience-edit-form{
        #edit-field-job-start-date-0-value-day,
        #edit-field-job-end-date-0-value-day{
            display: none;
        }
    }

    // Edit Education
    .profile-education-edit-form{
        #edit-field-school-start-date-0-value-day,
        #edit-field-school-end-date-0-value-day{
            display: none;
        }
    }
}
